$ubuntu: 'Ubuntu', sans-serif;
$grey: #f9f9f9;
$darkBlue: #212f3c;
$orange: #e7474d;

* {
  font-family: 'Hind', sans-serif;
  box-sizing: border-box;
  outline: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-transform: uppercase;
  font-size: 42px;
  font-family: $ubuntu;
  font-weight: 700;
}

section{
  position: relative;
  text-align: center;
}
