.menu {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  border-bottom: 3px solid #fff;
  background: $grey;
}

.menu--wrapper {
  display: flex;
  max-width: 1200px;
  height: 130px;
  margin: 0 auto;
  padding: 0 15px;
  transition: all 0.4s ease;
  justify-content: space-between;

  &.shrink {
    height: 100px;
    transition: all 0.4s ease;
  }
}

.menu--trapeze {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 36.5625%;
  height: 0;
  transition: all 0.4s ease;
  border-top: 130px solid #fff;
  border-right: 100px solid transparent;
  border-left: 0 solid transparent;

  &.shrink {
    border-top: 100px solid #fff;
  }
}

.menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__row {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .menu__list {
    position: relative;
    display: flex;
    margin-right: 50px;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }

    .menu__link {
      z-index: 2;
      text-decoration: none;
      opacity: 0.7;
      color: #000;
      color: $darkBlue;
      font-family: $ubuntu;
      font-size: 16px;
      font-weight: 700;
    }
  }

  .menu__list-active {
    position: relative;

    &::before {
      position: absolute;
      bottom: -10px;
      left: 0;
      display: block;
      width: 14px;
      height: 2px;
      content: '';
      background-color: $orange;
    }

    .menu__link {
      opacity: 1;
      color: $orange;
      font-weight: 700;
    }
  }
}

#nav-icon {
  position: absolute;
  z-index: 10;
  top: 40px;
  right: 30px;
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#nav-icon span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 9px;
  background: $darkBlue;
}

#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  left: 50%;
  width: 0;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  left: 50%;
  width: 0;
}
.down-arrow{
  border: solid $darkBlue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 60px;
  margin-left: -5px;
  &::before{
    content: '';
    border: solid $darkBlue;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    bottom: -8px;
    left: 5px;
  }
}
.down-arrow.white{
  border: solid #fff;
  border-width: 0 3px 3px 0;
  &::before{
    border: solid #fff;
    border-width:0 3px 3px 0;
  }
}
.title_decoration{
  display: flex;
  align-items: center;
  justify-content: center;
  &::before{
    content: '';
    height: 4px;
    display: block;
    width: 11.5%;
    background: $orange;
    margin-right: 30px;
  }
  &::after{
    content: '';
    height: 4px;
    display: block;
    width: 11.5%;
    background: $orange;
    margin-left: 30px;
  }
}
.main-header {
  position: relative;
  padding-top: 133px;

  .swipe-tabs {
    .slick-track {
      display: flex;
      align-items: flex-end;
    }
  }

  .main-container {
    position: relative;

    .slider-nav {
      position: absolute;
      z-index: 1;
      right: 0;
      left: 0;
      display: flex;
      width: 200px;
      height: 50px;
      margin: 0 auto;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      background: $grey;
      align-items: center;
      justify-content: center;

      .pagingInfo {
        z-index: 5;
        padding: 0 10px;
        color: $orange;
        font-family: $ubuntu;
        font-size: 16px;
        font-weight: 700;
      }

      .prev-slide {
        z-index: 5;
        padding: 0;
        cursor: pointer;
        text-indent: -9999px;
        border-top: 4px solid transparent;
        border-right: 4px solid $darkBlue;
        border-bottom: 4px solid transparent;
        border-left: 0;
        background: none;
      }

      .next-slide {
        z-index: 5;
        margin-right: 30px;
        margin-left: 15px;
        padding: 0;
        cursor: pointer;
        text-indent: -9999px;
        border-top: 4px solid transparent;
        border-right: 0;
        border-bottom: 4px solid transparent;
        border-left: 4px solid $darkBlue;
        background: none;
      }

      .pause {
        z-index: 5;
        width: 6px;
        height: 8px;
        padding: 0;
        cursor: pointer;
        text-indent: -99999px;
        border: 0;
        border-right: 2px solid $darkBlue;
        border-left: 2px solid $darkBlue;
        outline: 0;
        background: none;
      }

      .slick-dots {
        display: flex;
        height: 50px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        align-items: center;
        justify-content: flex-end;

        li {
          display: flex;
          width: 8px;
          height: 8px;
          margin-right: 15px;
          border: 2px solid $darkBlue;
          border-radius: 50%;
          justify-content: center;
          align-items: center;

          &:last-child {
            margin-right: 0;
          }
        }

        .slick-active {
          background: $darkBlue;
        }

        button {
          width: 8px;
          height: 8px;
          cursor: pointer;
          text-indent: -9999px;
          border: 0;
          outline: 0;
          background: none;
        }
      }
    }
  }

  .slick-initialized {
    .swipe-tab-content {
      position: relative;
      min-height: 365px;

      img {
        width: 100%;
        height: 1000px;
        max-height: calc(100vh - 133px);
        object-fit: cover;
        @media screen and (max-width: 991px) {
          max-height: calc(100vh - 100px);
        }
      }
      @media screen and (min-width: 767px) {
        min-height: 500px;
      }
    }

    .swipe-tab {
      display: flex;
      width: 33.3333%!important;
      min-height: 60px;
      cursor: pointer;
      border: 0;
      background: $darkBlue;
      align-items: center;

      h2 {
        padding-left: 30px;
        color: #fff;
        font-family: $ubuntu;
        font-size: 24px;
        font-weight: 700;
      }

      .sub-header-content {
        visibility: hidden;
        height: 0;
        max-height: 0;
        transition: max-height 0.5s, visibility 0s, opacity 0.5s linear;
        opacity: 0;

        h3.number {
          margin-bottom: 15px;
          padding: 0;
          opacity: 0.5;
          color: #fff;
          font-family: $ubuntu;
          font-size: 48px;
        }

        h3.title {
          text-transform: none;
          color: #fff;
          font-family: $ubuntu;
          font-size: 24px;
          font-weight: 700;
          line-height: 30px;

          &::after {
            display: block;
            width: 27px;
            height: 5px;
            margin: 15px 0;
            content: '';
            background: #fff;
          }
        }

        p.description {
          opacity: 0.7;
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
        }
      }

      &:nth-child(even) {
        background: $orange;
      }

      &.slick-current {
        padding: 55px;

        h2 {
          display: none;
        }

        .sub-header-content {
          visibility: visible;
          height: auto;
          max-height: 600px;
          opacity: 1;

          h2.number {
            display: block;
          }
        }
      }
    }
  }

  .sub-header {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
  }
}

.about-content {
  position: relative;
  padding: 330px 0;
  text-align: center;

  .decoration-top {
    position: absolute;
    top: 150px;
    left: 0;
    width: 29%;
  }

  .decoration-bottom {
    position: absolute;
    right: 0;
    bottom: 150px;
    width: 29%;
  }

  .decoration-circle-blue {
    position: absolute;
    top: 250px;
    right: 17.8125%;
  }

  .decoration-triangle-red {
    position: absolute;
    top: 50%;
    right: 12.5%;
    transform: translateY(-50%);
  }

  .about-content__title {
    margin-bottom: 60px;
    color: $orange;
  }

  .about-content__description-box {
    position: relative;
    max-width: 650px;
    margin: 0 auto;

    .grey-bg {
      position: absolute;
      z-index: -1;
      top: -185px;
      left: -255px;
      display: block;
      width: 580px;
      height: 600px;
      background: $grey;

      .decoration-circle-red {
        position: absolute;
        top: 115px;
        left: -30px;
      }

      .decoration-triangle-blue {
        position: absolute;
        bottom: -20px;
        left: -30px;
      }
    }

    .about-content__description {
      margin-bottom: 40px;
      color: $darkBlue;
      font-size: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        font-weight: 700;
      }
    }
  }
}

.conditions {
  padding: 190px 0 230px;
  background: $darkBlue;

  .conditions-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .box {
    max-width: 325px;
    margin: 0 10px;
    text-align: center;

    .icon-box {
      display: flex;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      border-radius: 50%;
      background: #fff;
      justify-content: center;
      align-items: center;
      position: relative;

      &::after {
        position: absolute;
        left: -8px;
        top: -8px;
        width: 130px;
        height: 130px;
        content: '';
        border: 3px dotted $orange;
        border-radius: 50%;
      }
    }

    h3 {
      position: relative;
      min-height: 60px;
      margin-top: 60px;
      margin-bottom: 40px;
      color: #fff;
      font-family: $ubuntu;
      font-size: 24px;
      font-weight: 700;

      &::after {
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        width: 40px;
        height: 4px;
        margin: 0 auto;
        content: '';
        background: $orange;
      }
    }

    h4 {
      opacity: 0.5;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}

.gps {
  padding-top: 200px;
  padding-bottom: 190px;

  .prev-circle {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    text-indent: -9999px;
    border: 0;
    background: url('../../img/left.png') no-repeat;
  }

  .next-circle {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: translateY(-50%);
    text-indent: -9999px;
    border: 0;
    background: url('../../img/right.png') no-repeat;
  }

  .title {
    text-align: center;
    color: $darkBlue;
    display: flex;
  }


  .slider-wrapper {
    position: relative;
    margin-top: 130px;
    min-height: 370px;

    .services-slider {
      position: relative;
      display: flex;
      max-width: 1060px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;

      .service-content {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: $grey;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        .middle-icon{
          display: none;
        }
      }

      .service {
        display: flex;
        flex-direction: column;
        width: 370px;
        text-align: center;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        h3 {
          margin: 20px 0;
          color: $darkBlue;
          font-size: 14px;
        }

        p {
          max-width: 150px;
          margin: 0 auto;
          opacity: 0.7;
          color: $darkBlue;
          font-size: 10px;
        }
      }

      .service.slick-center .service-content {
        width: 370px!important;
        height: 370px;
        background: $orange;

        h3 {
          color: #fff;
          font-size: 22px;
          margin-top: 40px;
        }

        p {
          max-width: 270px;
          opacity: 0.7;
          color: #fff;
          font-size: 16px;
          line-height: 28px;
        }
        img{
          display: none;
        }
        .middle-icon{
          display: block;
        }
      }

      .slick-track {
        display: flex;
        align-items: center;
      }
    }
  }
}

.cooperation {
  padding-top: 100px;
  padding-bottom: 210px;
  text-align: center;

  .cooperation__title {
    margin-bottom: 160px;
    color: $darkBlue;
  }

  .cooperation__partner {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 290px;
    margin-bottom: 235px;
    padding: 0 15px;
    border-right: 70px solid;
    border-left: 70px solid;
    justify-content: space-between;

    &::after {
      position: absolute;
      bottom: -65px;
      left: -13px;
      display: block;
      width: calc(100% + 26px);
      height: 4px;
      content: '';
      background: #e3e3e3;
    }

    .cooperation__partner--description {
      max-width: 750px;
      margin: 0 auto;

      p {
        opacity: 0.7;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .cooperation__partner--logo {
      img {
        max-width: 100%;
      }
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  .cooperation__partner:nth-child(2) {
    border-color: #eb008b;

    &::before {
      position: absolute;
      top: -70px;
      right: 0;
      left: 0;
      display: block;
      width: 170px;
      height: 4px;
      margin: 0 auto;
      content: '';
      background: #eb008b;
    }
  }

  .cooperation__partner:nth-child(3) {
    border-color: #03a080;

    &::before {
      position: absolute;
      top: -70px;
      right: 0;
      left: 0;
      display: block;
      width: 170px;
      height: 4px;
      margin: 0 auto;
      content: '';
      background: #03a080;
    }
  }

  .cooperation__partner:nth-child(4) {
    border-color: #6aa839;

    &::before {
      position: absolute;
      top: -70px;
      right: 0;
      left: 0;
      display: block;
      width: 170px;
      height: 4px;
      margin: 0 auto;
      content: '';
      background: #6aa839;
    }
  }
}

#map {
  width: 100%;
  min-height: 670px;
}

.contact--wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact {
  padding: 150px 0 100px;
  background: $darkBlue;
  position: relative;

  .contact__title {
    margin-bottom: 60px;
    text-align: center;
    color: #fff;
    font-family: $ubuntu;
    font-size: 30px;
  }

  .contact__offices {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .contact_offices--office {
      margin-bottom: 140px;

      a {
        text-decoration: none;
        opacity: 0.7;
        color: $grey;
        font-size: 18px;
        font-weight: 400;
      }

      .title {
        margin-top: 40px;
        margin-bottom: 10px;
        text-transform: none;
        color: $grey;
        font-size: 18px;
        font-weight: 700;
      }

      .address-box {
        h3 {
          opacity: 0.7;
          color: $grey;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
  &::before{
    content: '';
    height: 60px;
    width: 120px;
    display: block;
    background: $orange;
    margin: 0 auto;
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
  }
}

.site-footer {
  .footer-box {
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    .dots{
      flex: 1;
      border-top: 2px dotted #e0e0e0;
      margin: 0 25px;
    }

    .footer-content {
      display: flex;
      align-items: center;

      .site-footer__logo {
        img {
          max-height: 70px;
        }
      }

      .site-footer__copyrights {
        margin-left: 25px;
        padding-left: 10px;
        border-left: 2px solid #e0e0e0;

        h3 {
          display: block;
          opacity: 0.5;
          color: $darkBlue;
          font-size: 12px;
        }
      }
    }

    .btn-up {
      display: flex;
      width: 50px;
      height: 50px;
      border: 2px solid #d6d6d6;
      justify-content: center;
      align-items: center;

      .arrow-up {
        display: inline-block;
        margin-top: 5px;
        padding: 5px;
        transform: rotate(-135deg);
        border: solid $orange;
        border-width: 0 3px 3px 0;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .gps {
    .next-circle {
      top: auto;
      bottom: -25px;
    }

    .prev-circle {
      top: auto;
      bottom: -25px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .main-header {
    .slick-initialized {
      .swipe-tab.slick-current {
        padding: 25px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  #nav-icon {
    display: block;
  }

  .menu--wrapper {
    height: 100px;
  }

  .menu--trapeze {
    border-top: 100px solid #fff;
  }

  .menu__row {
    position: absolute;
    top: -450px;
    right: 0;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s, z-index 0s linear 0.04s;
    background: #fff;

    .menu__list {
      margin-right: 0;
      margin-bottom: 20px;

      &::after {
        content: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .menu__list-active::before {
      right: 0;
      width: 20px;
      margin: 0 auto;
    }
  }

  .menu__row.open-nav {
    top: 99px;
  }

  .main-header {
    padding-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .menu--trapeze {
    display: none;
  }

  .main-header .slick-initialized .swipe-tab {
    width: 15%!important;

    h2 {
      padding-left: 10px;
    }

    .sub-header-content {
      h3.number {
        margin-bottom: 10px;
        font-size: 24px;
      }

      h3.title {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  .main-header .slick-initialized{
    .swipe-tab{
      .sub-header-content{
        p.description{
          line-height: 18px;
        }
      }
    }
    .swipe-tab.slick-current{
      width: 70%!important;
      padding: 15px;
    }
  }

  .about-content {
    padding: 100px 0;

    .decoration-top {
      display: none;
    }

    .decoration-bottom {
      display: none;
    }

    .decoration-triangle-red {
      display: none;
    }

    .decoration-circle-blue {
      display: none;
    }

    .about-content__description-box {
      .grey-bg {
        display: none;
      }
    }
  }

  .conditions {
    padding: 100px 0;

    .conditions-wrapper {
      flex-direction: column;
      align-items: center;

      .box {
        margin-bottom: 25px;

        h3 {
          margin-top: 20px;
          margin-bottom: 25px;
        }
      }
    }
  }

  .gps {
    padding-top: 100px;
  }

  .cooperation {
    padding-top: 100px;
    padding-bottom: 100px;

    .cooperation__partner {
      border-right: 30px solid;
      border-left: 30px solid;

      &:last-child {
        margin-bottom: 150px;
      }
    }
  }

  #map {
    min-height: 400px;
  }

  .contact {
    padding-top: 100px;

    .contact__offices {
      .contact_offices--office {
        flex: 1;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 35px;
  }

  .contact {
    .contact__offices {
      flex-direction: column;

      .contact_offices--office {
        margin-bottom: 80px;
      }
    }
  }

  .site-footer {
    .footer-box {
      position: relative;
      .dots{
        display: none;
      }
      .btn-up {
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
      }

      .footer-content {
        flex-direction: column;
        width: 100%;
        padding: 15px 0;

        .site-footer__copyrights {
          margin-top: 15px;
          margin-left: 0;
          padding: 0;
          border-left: 0;
        }
      }
    }
  }
}
